.jumbotron{
    background-color: #20315A;
    color : white;
}
#clear-glyphy-btn {
    background-color: #20315A;
    color : white;
}
#add-glyphy-btn {
    background-color: #20315A;
    color : white;
}